<?xml version='1.0' encoding='UTF-8'?>
<user>
  <fullName>Kevin Bridges</fullName>
  <properties>
    <jenkins.security.ApiTokenProperty>
      <apiToken>rm0KQWf+nxhywtL6aN5bkobs6XEJ4KTT7k2cVi4RKv4V8y8c+val5xWKbZFYEeby</apiToken>
    </jenkins.security.ApiTokenProperty>
    <hudson.model.MyViewsProperty>
      <views>
        <hudson.model.AllView>
          <owner class="hudson.model.MyViewsProperty" reference="../../.."/>
          <name>All</name>
          <filterExecutors>false</filterExecutors>
          <filterQueue>false</filterQueue>
          <properties class="hudson.model.View$PropertyList"/>
        </hudson.model.AllView>
      </views>
    </hudson.model.MyViewsProperty>
    <hudson.security.HudsonPrivateSecurityRealm_-Details>
      <passwordHash>sXwNVa:8a2f1d3a65072d7dbe379fda529a08df710688ed2dbdd20729e0f5f0fe098faa</passwordHash>
    </hudson.security.HudsonPrivateSecurityRealm_-Details>
    <hudson.tasks.Mailer_-UserProperty>
      <emailAddress>kevin@cyberswat.com</emailAddress>
    </hudson.tasks.Mailer_-UserProperty>
  </properties>
</user>